#playground{
        position: relative;
        border: 1px solid rgb(0,0,0);
        margin-left: 50px;
        margin-top: 50px;
}
#ball{
        position: relative;
        background-color: red;
        border-radius: 50%;
}
#goal{
        position: absolute;
        background-color: green;
}

#note{
        margin: auto;
        visibility: hidden;
        background-color: yellow;
        width: 100%;
        text-align: center;
}

#score{
        margin: auto;
        width: 10%;
        background-color: green;
        text-align: center;
}

.button{
        margin-left: auto;
        margin-right: auto;
        width: 10%;
        text-align: center;
}
