#playground{
        position: relative;
        border: 1px solid rgb(0,0,0);
        margin-left: auto;
        margin-right: auto;
        margin-top: 5em;
        visibility: hidden;
}
#ball{
        position: relative;
        background-color: red;
        border-radius: 50%;
}
#goal{
        position: absolute;
        background-color: green;
}

#note{
        margin: auto;
        visibility: hidden;
        background-color: yellow;
        width: 100%;
        font-size: 2em;
        text-align: center;
}

#score{
        margin: auto;
        width: 10%;
        font-size: 2em;
        color: white;
        background-color: green;
        text-align: center;
}

#start{
        margin-left: auto;
        margin-right: auto;
        width: 10%;
        text-align: center;
}

#start_button{
        font-size: 3em;
}
